.hamburger-menu,
.hamburgerstyle-menu {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
}
.first-l,
.sec-l,
.thr-l {
  width: 3rem;
  height: 0.3rem;
  background-color: rgb(0, 0, 0);
  border-radius: 5%;
}

.hamburgerstyle-menu:hover .first-l {
  transform: rotate(0.15turn);
  position: absolute;
}
.hamburgerstyle-menu:hover .sec-l {
  display: none;
}
.hamburgerstyle-menu:hover .thr-l {
  transform: rotate(-0.15turn);
  background-color: rgb(0, 0, 0);
}
