.search-bar {
}
.searchInput {
  width: 27vw;

  background-color: rgba(255, 255, 255, 0.342);
}
.search-btn {
  width: 3vw;
  //border: 2px red dashed;
  background-color: green;
  border-radius: 20%;
}
.searchInput:focus {
  outline: none;
}

.search-bar input,
.search-btn {
  height: 5vh;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
