//Import Layout files
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body {
  @include flexthing;
  flex-direction: column;
  // width: 100vw;
  // height: 100vh;
}
.body-container {
  @include flexthing;
  flex-direction: column;
  width: 100vw;
  height: auto;
  background-color: #e3f1e3;
  //hero section par (navbar , searchbar , search results hamburger menu)
  .hamburgers-menus {
    width: 50px;
    height: 50px;

    color: black;
  }
  //for the hamburger menu section
  .hamburger-menu-container {
    @include flexthing;
    ul {
      @include flexthing;
      justify-content: space-between;
      flex-direction: row;
      width: 100vw;
      height: 10vh;
      background-color: #004b00;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      width: 100vw;
      height: 95vh;
    }
    p {
      border-bottom: 1px black solid;

      padding: 10%;
    }
  }
  .hero-section {
    nav {
      @include flexthing;
      justify-content: space-between;

      height: 30%;
      background-color: #007e00;
    }
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 35vh;
    background-color: #63b163;
    .searchbarteam {
      @include flexthing;
    }
    ul {
      @include flexthing;
      justify-content: space-around;
      flex-direction: row;

      width: 80vw;
    }
    .space-for-results {
      background-color: rgb(45, 100, 45);

      //  position: absolute;
      // border: 2px red dashed;
      // top: 30%;
      @include flexthing;
      width: 100%;

      // height: 5rem;
    }
  }
  .cardbutton {
    background-color: green !important;
    padding: 0.3rem;
  }
  .mainmenu {
    @include flexthing;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    .carusel {
      @include flexthing;
      //  border: 2px rgb(97, 87, 87) solid;
      width: 50%;
      height: 80%;
    }
    .slider {
      @include flexthing;
      button:nth-last-child(n) {
        background-color: transparent;
        border: none;
      }
      width: 100%;
      height: 10%;
    }
    .categories-slider {
      border: 2px rgb(177, 169, 169) solid;

      width: 80%;

      @include flexthing;
      .item {
        @include flexthing;
        width: 30%;
        height: 90%;
        border: rgb(0, 0, 0) 2px solid;
        margin: 10px;
      }
    }
    // .skt {
    //   display: none;
    // }
    .hadis-item {
      @include flexthing;
      width: 30%;
      height: 30%;
      border: rgb(0, 0, 0) 2px solid;
      margin: 10px;
    }
  }
  //for the pages on categories
  .item-page {
    @include flexthing;
    width: 90vw;
    height: 60vh;
    background-color: #c4e7c4;
  }
  footer {
    @include flexthing;
    width: 100vw;
    height: 5vh;
    background-color: #004b00;
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
//RESPONSIVE DESIGN
//////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and (max-width: 500px) {
  .body-container {
    flex-direction: column;
    width: 100vw;
    height: auto;

    //hero section par (navbar , searchbar , search results hamburger)
    .hero-section {
      display: flex;
      flex-direction: column;
      width: 100vw;

      .searchbarteam {
        width: 100vw;
      }
      .searchInput {
        width: 70vw;
      }
      .search-btn {
        width: 10vw;

        background-color: transparent;
      }
      h2 {
        text-align: center;
      }
      ul {
        display: none;
        //for now , i have to solve the crazy searchbar issue
      }

      .space-for-results {
        @include flexthing;
        flex-wrap: wrap;
        width: 100vw;
      }
    }

    .carusel {
      @include flexthing;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
    }
    button {
      margin: 0;
      padding: 0;
    }
    .slider {
      @include flexthing;
      margin: 0;
      padding: 0;

      ul li,
      h5,
      h6 {
        font-size: 11px;
        margin: 0;
        padding: 0;
      }
      height: 90%;
      width: 100%;
      button:nth-last-child(n) {
        background-color: transparent;
        border: none;
        font-size: 9px;
        margin: 0;
        padding: 0;
      }

      width: 100%;
      height: 80%;
    }
    .cardbutton {
      background-color: green !important;
      padding: 0.1px;
    }
    .mainmenu {
      @include flexthing;

      margin: 40vh 0 20vh 0;
      height: auto;
      width: 100vw;

      .item {
        @include flexthing;
        width: 150px;
        height: 150px;
        margin: 10px;
        border: rgb(0, 0, 0) 2px solid;
      }
    }
    footer {
      @include flexthing;
      width: 100vw;
      a {
        font-size: 18px;
      }
    }
  }
}
